{{ define "game-msg" }}
  <p class="msg{{ if .Me }} is-me{{ end }}">
    <span class="msg-name">{{ .Nickname }}</span>
    {{ if .Me }}
      <strong>{{ .Content }}</strong>
    {{ else }}
      {{ .Content }}
    {{ end }}
  </p>
{{ end }}
