.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  margin: 0.5rem 0.5rem;

  & > div.window {
    max-width: var(--size-sm);
    margin: auto;
  }
}

@media screen and (width >=64rem) {
  .content {
    margin: 5rem 5rem;
  }
}

.footer {
  text-align: center;
  padding: var(--space-1) var(--space-2);
}
