:root {
	--primary-color: #3B82F6;
	--secondary-color: #FCD34D;
	--text-primary: #1F2937;
	--text-secondary: #4B5563;
	--radius: 1rem;
	--radius-xl: 1.5rem;

	--space-1: 0.5rem;
	--space-2: 1rem;
	--space-3: 1.5rem;
}

html {
	font-size: 24px;
	font-family: "Nunito", sans-serif;
}

html,
body {
	height: 100%;
}

h1,
h2 {
	font-family: "Fredoka", sans-serif;
}

p {
	font-family: "Nunito", sans-serif;
	font-size: 1rem;
	color: var(--text-primary)
}

h1 {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--text-primary)
}

h2 {
	font-size: 2.5rem;
	text-transform: capitalize;
	color: var(--text-primary)
}

button {
	border-style: solid;
	border-color: var(--text-primary);
	border-width: .2rem;
	border-radius: var(--radius);
	padding: var(--space-1) var(--space-2);
	font-weight: bold;
	background-color: var(--primary-color);
	cursor: pointer;
}

input {
	border-style: solid;
	border-color: var(--text-primary);
	border-width: .2rem;
	border-radius: var(--radius);
	padding: var(--space-1);
}


.card {
	background: peachpuff;
	padding: var(--space-1) var(--space-2);
}


/* page specific styles */
.landing.root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.landing.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing.content {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 5rem;

	&>div.card {
		display: flex;
		flex-direction: column;
		gap: var(--space-1);
	}
}

.landing.hero {
	width: 50%;
	border-style: solid;
	border-color: var(--text-primary);
	border-top-width: .2rem;

}

.landing.footer {
	padding: var(--space-1) var(--space-2);
}
